.game-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.side {
  text-align: center;
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 10px;
}

.board * {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: aliceblue;
  transition: all 0.3s ease-in-out;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#board1 *:hover {
  cursor: pointer;
}

.dice {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  font-size: 24px;
  cursor: pointer;
}

.last-play {
  background-color: rgba(43, 226, 76, 0.333);
}
